<!DOCTYPE html>
<html lang="en">
<head>
 <title>Masahiro Yoshida</title>
  <!-- add bootstrap and css file -->

  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
     <ul class="navbar-nav mr-4">

       <li class="nav-item">
         <a class="nav-link" data-value="about" href="#">About</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" data-value="experience" href="#">Experience</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " data-value="education" href="#">Education</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " data-value="contact" href="#">Contact</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="mailto:Masahiro.Yoshida.SE@gmail.com"><i class="fa fa-paper-plane" aria-hidden="true"></i> Email</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="/static/resume.pdf"><i class="fa fa-file" title="resume"> Resume</i></a>
       </li>
     </ul>
   </div>
  </nav>
  <!-- end of navbar -->
  <!-- header -->
  <header class="header" style="background-image: url('/static/img/morioka.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="description text-center">
        <h1>Hello, Welcome to My Official Website
        <p>
          I am Masahiro Yoshida. Scroll down to see more!
        </p>
      </h1>
      </div>
    </div>
  </header>
  <!-- end of header -->
  <!-- about me -->
  <div class="about" id="about">
    <div class="container">
      <h1 class="text-center">About Me</h1>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <img src="/static/img/profile_pic.png" class="img-fluid">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
          <h3>Masahiro Yoshida</h3>
          <p>
            Hi there, I am Masahiro Yoshida. I am majoring in Computer Science at The University of Texas at Dallas.
            I am passoinate in learning new technologies as I taught python myself and got a full stack engineer internship
            over summer, 2018. This website is using Flask.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end of about me -->
  <!-- experience -->
  <section class="experience section" id="experience">
    <div class="container">
      <h1 class="text-center">Experience</h1>
      <div class="row">
        <div class="work">
          <div class="place">
            <h3 class="name">CITT Services LLC</h3>
            <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Dallas, TX</div>
          </div>
          <div class="job">
            <div class="title">Python Full Stack Engineer</div>
            <div class="time">May, 2018 - Present</div>
          </div>
          <div class="desc">
            <p>
              <ul>
                <li>Serve a Flask application with Gunicorn using NGINX on Google Cloud Platform. SSL certificate by LetsEncrypt</li>
                <li>Automate deployment using Jenkins.</li>
                <li>Creating a FAQ chatbot.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of experience -->
  <!-- education -->
  <div class="education" id="education">
    <div class="container">
      <h1 class="text-center">Education</h1>
      <div class="row">
        <div class="item col-lg-6 col-md-6 col-sm-12">
          <div class="item-in">
            <h3 class="degree">B.S. in Computer Science</h3>
            <div class="school">The University of Texas at Dallas</div>
            <div class="duration">2017 - 2019</div>
            <div class="gpa">Earned GPA: 4.00</div><br />
            <div class="desc">
              Data Structure and Alogorithm, Software Engineering, C/C++ in Unix Environment,
              Computer Architecture, Theoretical Mathmatics.
            </div>
          </div>
        </div>
        <div class="item col-lg-6 col-md-6 col-sm-12">
          <div class="item-in">
            <h3 class="degree">A.S. in Software Engineering</h3>
            <div class="school">Richland College</div>
            <div class="duration">2016 - 2017</div>
            <div class="gpa">Earned GPA: 4.00</div><br />
            <div class="desc">
              Object Oriented Programming, Concept of Mathmatics, Physics.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of education -->
  <!-- Contact form -->
  <div class="contact" id="contact">
	  <div class="container">
			<h1 class="text-center">Contact Me</h1>
      <p>I am currently pursuing an internship for the Fall 2018 semesters. I would love the opportunity to push and develop my skills in software engineering field while working with experienced engineers.</p>
      <p><strong>I am interested in internships in:</strong></p>
      <ul>
          <li><i class="fa fa-check" aria-hidden="true"></i> Python Engineer</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Full Stack Engineer</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Software Engineering</li>
      </ul><br />
      <p>Feel free to contact me at <a href="Masahiro.Yoshida.SE@gmail.com">Masahiro.Yoshida.SE@gmail.com</a></p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="https://www.linkedin.com/"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
        <li class="list-inline-item"><a href="https://www.github.com/MasahiroYoshida/"><i class="fab fa-github" aria-hidden="true"></i></a></li>
      </ul>
	 </div>
  </div>
  <!-- end of contact form -->
  <!-- add Javascript file from js file -->
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/main.js"></script>

</body>
</html>
